<header>
  <h1 class="bef bef-textAlign-center">
    Curso de Desarrollo web con Lynx Pardelle
  </h1>
  <h2 class="bef bef-textAlign-center bef-text-old bef-w-75per bef-mx-auto">
    Inicio de clases: 10 de abril de 2024 a las 8pm hora CDMX
  </h2>
</header>
<main class="bef bef-mx-auto bef-my-1rem bef-wmx-650px bef-w-75per bef-wmn-250px">
  <section class="bef bef-mb-1rem">
    <h2 class="bef bef-mb-1rem">Contenido del curso</h2>
    <p class="bef bef-mb-0_75rem bef-textAlign-justify">
      En este curso aprenderás a desarrollar aplicaciones web con las
      tecnologías más modernas del mercado para poder dedicarse al desarrollo
      web, ya sea como freelance o en una empresa.
    </p>
    <p class="bef bef-mb-0_75rem bef-textAlign-justify">
      Se verán las tecnologías de frontend html, css, sass, javascript,
      typescript y Angular, además de las tecnologías de backend nodejs,
      express, mongodb y nestjs en un proyecto completo.
    </p>
  </section>
  <section class="bef bef-mb-1rem">
    <h2 class="bef bef-mb-1rem">Conocimientos previos</h2>
    <p class="bef bef-mb-0_75rem bef-textAlign-justify">
      No se es necesario ningún conocimiento previo, ya que iré dando la
      información pertinente en las sesiones de estudio.
    </p>
    <p class="bef bef-mb-0_75rem bef-textAlign-justify">
      Si ya tienes conocimientos previos, te recomiendo que sigas el curso
      igualmente, ya que siempre se aprenden cosas nuevas.
    </p>
    <p class="bef bef-mb-0_75rem bef-textAlign-justify">
      No te preocupes si no sabes absolutamente nada, ya que en realidad voy a
      enseñar como programar y crear productos digitales desde 0.
    </p>
    <p class="bef bef-mb-0_75rem bef-textAlign-justify">
      Además, tendrás los conocimientos necesarios para seguir aprendiendo por
      tu cuenta y poder adaptarte a las nuevas tecnologías que vayan
      apareciendo.
    </p>
  </section>
  <section class="bef bef-mb-1rem">
    <h2 class="bef bef-mb-1rem">Lecturas Recomendadas</h2>
  </section>
  <section class="bef bef-mb-1rem">
    <h2 class="bef bef-mb-1rem">Bitácora</h2>
    <p class="bef bef-mb-0_75rem bef-textAlign-justify">
      A través de las sesiones iré escribiendo una bitácora de los temas que se
      vieron que estará acá:
    </p>
  </section>
  <section class="bef bef-mb-1rem">
    <h2 class="bef bef-mb-1rem">Recursos Extra</h2>
    <ul class="bef bef-mb-0_75rem">
      <li class="bef bef-mb-0_75rem">
        <a
          href="https://www.notion.so/lynx-pardelle/Programaci-n-1270188c42664282936b6ad84eabff77"
          target="_blank"
          rel="noopener noreferrer"
          class="bef bef-text-forestGreen bef-fontWeight-bold"
          >Notion Programación por Lynx Pardelle</a
        >
      </li>
      <li class="bef bef-mb-0_75rem">
        <a
          href="https://docs.google.com/document/d/16gysb7KHOxwKADUkodHv85ZTqCxG-gcq-aIviVsZVb0/edit?usp=sharing"
          target="_blank"
          rel="noopener noreferrer"
          class="bef bef-text-forestGreen bef-fontWeight-bold"
          >Google Doc Desarrollo Web por Lynx Pardelle</a
        >
      </li>
      <li class="bef bef-mb-0_75rem">
        <a
          href="https://www.notion.so/lynx-pardelle/Recursos-aprendizaje-desarrollo-web-01a4dc54aa6b4cefbf4abc5e6c5ca7ad"
          target="_blank"
          rel="noopener noreferrer"
          class="bef bef-text-forestGreen bef-fontWeight-bold"
          >Notion Recursos de aprendizaje de desarrollo web por Lynx Pardelle</a
        >
      </li>
    </ul>
  </section>
  <section class="bef bef-mb-1rem">
    <h2 class="bef bef-mb-1rem">FAQ</h2>
    <ul class="bef bef-mb-0_75rem">
      <li class="bef bef-mb-0_75rem">
        ¿Por dónde serán las sesiones?
        <ul>
          <li class="bef bef-mb-0_75rem">
            Twitch, Facebook personal y youtube.
          </li>
        </ul>
      </li>
      <li class="bef bef-mb-0_75rem">
        ¿Cuánto durarán las sesiones?
        <ul>
          <li class="bef bef-mb-0_75rem">2 horas y media aproximadamente.</li>
        </ul>
      </li>
      <li class="bef bef-mb-0_75rem">
        ¿Cuál es el horario?
        <ul>
          <li class="bef bef-mb-0_75rem">De 8pm a 10pm, horario de la CDMX.</li>
        </ul>
      </li>
      <li class="bef bef-mb-0_75rem">
        ¿Se dará algún reconocimiento?
        <ul>
          <li class="bef bef-mb-0_75rem">
            No, de hecho recomiendo que una vez que se tienen los conocimientos
            adecuados, se haga alguna certificación para afianzar los
            conocimientos y tener más posibilidades de conseguir trabajo.
          </li>
        </ul>
      </li>
      <li class="bef bef-mb-0_75rem">
        ¿Se dará algún certificado?
        <ul>
          <li class="bef bef-mb-0_75rem">
            No, de hecho recomiendo que una vez que se tienen los conocimientos
            adecuados, se haga alguna certificación para afianzar los
            conocimientos y tener más posibilidades de conseguir trabajo.
          </li>
        </ul>
      </li>
      <li class="bef bef-mb-0_75rem">
        ¿Por qué se está organizando este grupo de estudio?
        <ul>
          <li class="bef bef-mb-0_75rem">
            Es para apoyar a la comunidad con mis conocimientos y dar a conocer
            las tecnologías que yo he hecho para apoyar los demás
            desarrolladores.
          </li>
        </ul>
      </li>
      <li class="bef bef-mb-0_75rem">
        ¿Qué se espera de los participantes?
        <ul>
          <li class="bef bef-mb-0_75rem">
            Que tengan ganas de aprender y de compartir sus conocimientos con
            los demás.
          </li>
        </ul>
      </li>
      <li class="bef bef-mb-0_75rem">
        ¿Cuáles son mis credenciales?
        <ul>
          <li class="bef bef-mb-0_75rem">
            <a
              href="https://www.linkedin.com/in/alecjmr/"
              target="_blank"
              rel="noopener noreferrer"
              class="bef bef-text-forestGreen bef-fontWeight-bold"
              >Linkedin</a
            >
          </li>
          <li class="bef bef-mb-0_75rem">
            <a
              href="https://lynxpardelle.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="bef bef-text-forestGreen bef-fontWeight-bold"
              >Portafolio</a
            >
          </li>
          <li class="bef bef-mb-0_75rem">
            <a
              href="https://docs.google.com/document/d/1kTOXeio13ITIdGA2kKE3JLIc6tIxf42LuJu32yICSy4/edit?usp=sharing"
              target="_blank"
              rel="noopener noreferrer"
              class="bef bef-text-forestGreen bef-fontWeight-bold"
              >CV</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="bef bef-mb-1rem">
    <h2 class="bef bef-mb-1rem">Recomendaciones para participantes</h2>
    <ol class="bef bef-mb-0_75rem">
      <li class="bef bef-mb-0_75rem">
        <p class="bef bef-mb-0_75rem bef-textAlign-justify">
          Tener una computadora con acceso a internet.
        </p>
      </li>
      <li class="bef bef-mb-0_75rem">
        <p class="bef bef-mb-0_75rem bef-textAlign-justify">
          Tener una cuenta en
          <a
            href="https://github.com/"
            target="_blank"
            rel="noopener noreferrer"
            class="bef bef-text-forestGreen bef-fontWeight-bold"
            >github</a
          >
          .
        </p>
      </li>
      <li class="bef bef-mb-0_75rem">
        <p class="bef bef-mb-0_75rem bef-textAlign-justify">
          Anotar todo lo que se piense importante. (de preferencia en un
          proyecto web propio para poder compartir sus apuntes con los demás y
          tener fácil acceso a estos).
        </p>
      </li>
      <li class="bef bef-mb-0_75rem">
        <p class="bef bef-mb-0_75rem bef-textAlign-justify">
          Ver las sesiones desde un computador o una pantalla.
        </p>
      </li>
      <li class="bef bef-mb-0_75rem">
        <p class="bef bef-mb-0_75rem bef-textAlign-justify">
          No ir haciendo los ejercicios con el ponente, las sesiones quedarán
          grabadas y no todo lo que se hace es necesario practicar, es mejor
          enfocarse en entender lo que se está haciendo.
        </p>
      </li>
      <li class="bef bef-mb-0_75rem">
        <p class="bef bef-mb-0_75rem bef-textAlign-justify">
          Prestar atención a la explicación, las sesiones tienen la finalidad de
          poder aprender esto rápido, por lo que unos minutos fuera pueden ser
          la diferencia entre entender el tema o no.
        </p>
      </li>
      <li class="bef bef-mb-0_75rem">
        <p class="bef bef-mb-0_75rem bef-textAlign-justify">
          No frustrarse por no tener al 100% el tema, varias cosas se irán
          repitiendo y reforzando con el tiempo, es bastante recomendable el ver
          cursos y tutoriales relacionados en los tiempos libres, no te quedes
          solo con la información que se da en las sesiones.
        </p>
      </li>
      <li class="bef bef-mb-0_75rem">
        <p class="bef bef-mb-0_75rem bef-textAlign-justify">
          Instalar lo que se necesite instalar antes o después de las sesiones,
          de preferencia antes para tener dudas específicas.
        </p>
      </li>
    </ol>
  </section>
  <section class="bef bef-mb-1rem">
    <h2 class="bef bef-mb-1rem">Reglas para participantes</h2>
  </section>
  <section class="bef bef-mb-1rem">
    <h2 class="bef bef-mb-1rem">Shortcuts</h2>
    <ul class="bef bef-mb-0_75rem">
      @for (shortcut of shortcuts; track shortcut) {
      <li class="bef bef-mb-0_75rem">
        <p class="bef bef-mb-0_75rem bef-textAlign-justify">
          {{ shortcut }}
        </p>
      </li>
      }
    </ul>
  </section>
  <section class="bef bef-mb-1rem">
    <h2 class="bef bef-mb-1rem">Extensiones Recomendadas</h2>
  </section>
  <section class="bef bef-mb-1rem">
    <h2 class="bef bef-mb-1rem">Apóyame</h2>
    <p class="bef bef-mb-0_75rem bef-textAlign-justify">
      Por último, agradecería el apoyo a mi librería Bootstrap-Expanded-Features
      (el vínculo de “buy me a coffe” está en la esquina inferior derecha,
      además compartirlo en tus redes es una gran ayuda):
      <br />
      <a
        href="https://lynx-bef.vercel.app//"
        target="_blank"
        rel="noopener noreferrer"
        class="bef bef-text-forestGreen bef-fontWeight-bold"
        >Bootstrap-Expanded-Features</a
      >
    </p>
  </section>
</main>
